[Desktop Entry]
Name=Pharmagest
GenericName=Gestion de pharmacie
Comment=mba manao projet ee
Exec=pharmagest
Terminal=true
Type=Application
Encoding=UTF-8
Icon=Logo.png
Categories=Application;
Keywords=pharma;
