*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.circle{
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -20vw;

}

.boribory{
    width: 20vw;
    height: 20vw;
    border-radius: 50vw;
    border: darkgoldenrod solid 0.5vw;
    position:relative;
    bottom: 20vw;
}
.a{
    border: rgb(11, 37, 184) solid 0.5vw;
}
.m{
    /*display: block=manapota none=tsy manapotra flex=flexible;*/
    flex-direction: row;           /*orientation na mande colonne : ambony ambany na ligne : ilany sy ilany*/
    flex-wrap: nowrap;                /*refa tsy omby de midina */
    justify-content: space-around;          /*s-around : mitazona ny espace manodidina azy ; s-between : mitazona ny intervale entre zareo ny sisiny maka sisiny ; s-evenly : mitovy ny espace manelanelana azy rhtr */
    align-items: center; /*ordonnée*/
    border: rgb(0, 0, 0) solid 0.5vw;
}
.r{
    border: rgb(241, 18, 18) solid 0.5vw;
}
.y{
    border: rgb(255, 251, 26) solid 0.5vw;
}
.g{
    border: rgb(72, 255, 17) solid 0.5vw;
    animation: na 5s linear infinite;
}
@keyframes na{
    15%{
        transform: rotateY(180deg);
        /* transform: rotateX(45deg);
        transform: rotateZ(90deg); */
    }
    30%{
        transform: rotateX(45deg);
    }
    45%{
        transform: rotateZ(90deg);
    }
    60%{
        transform: rotateY(360deg);
        /* transform: rotateX(90deg);
        transform: rotateZ(120deg); */
    }
    75%{
        transform: rotateX(90deg);
    }
    90%{
        transform: rotateZ(120deg);
    }
}/*ntso ny @media ref hanao responsive
@media(
    max-width=:){
    }*/

/*clip-path : le manao sary sary reny
    clip-path : polygone(
*/
.clip{
    width: 20vw;
    height: 20vw;
    background-color: aqua;
    clip-path:polygon(100% 0% , 0% 100% , 100% 100% , 55% 55%);
}

