*{
margin:0px;                 /*marge tsy asina marge @ sisiny*/
padding:0px;                /*tsy asina marge ao anatiny*/
box-sizing: border-box;     /*tsy asina elanelany ny zvtr ao*/
}
.h1
{
color: rgb(141, 11, 173);
text-decoration:wavyb;
font-weight:bolder;              /*hateviny le soratra*/
font-size:medium;               /*ny hangezany */
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*type de police*/
font-style:oblique;            /*style any le soratar*/
padding: 10vw 50vw;

}

#soratra
{
color: rgb(43, 205, 226);
}

.span
{
color: darkorange;


}
.div
{
    margin: 10vw;
    padding: 10vw;
    border: red 1vw solid;
    border-radius: 5vw;
    z-index: 10;                                  /*setting mametraka hoe ze manana z-index ngeza no eo ambony*/
   
}
/*tsisy resaka pixel tsony fa vw*/

.carre{
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 20px 20px 10px black;           /*manisy manjaroka kely => aloka*/
    position:relative;
}