*{
    margin:0px;
    padding:0px;
    box-sizing: border-box; 
}

.acceuil{
    width: 100vw;
    height: 10vw;
    display: flex;
    padding-top: 3.5vw;
    justify-content: space-around;
    background-size: cover;
    background-image: url("../photo/freestocks-r_oV6smBBYk-unsplash.jpg");
    background-position: center;
}